{% extends 'student/base_outing.html' %}

{% block title %}
LAMAN PERMOHONAN
{% endblock %}


{% block outing_content %}
<div class="outing-form">
    <form action="/group/{{number}}" method="POST">
        <table>
            <tr>
                <td>Jenis Permohonan </td>
                <td>
                    <select name="apply-type" id="apply-type">
                        <option value="Outing Khas">Outing Khas</option>
                        <option value="Bermalam Biasa">Bermalam Biasa</option>
                        <option value="Bermalam Khas">Bermalam Khas</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>Tarikh Keluar: </td>
                <td>
                    <input type="date" id="out-date" name="out-date">
                </td>
                <td>Waktu Keluar: </td>
                <td>
                    <input type="time" id="out-time" name="out-time">
                </td>
            </tr>
            <tr>
                <td>Tarikh Balik: </td>
                <td>
                    <input type="date" id="in-date" name="in-date">
                </td>
                <td>Waktu Balik ke Kolej: </td>
                <td>
                    <input type="time" id="in-time" name="in-time">
                </td>
            </tr>
            <tr>
                <td>Kenderaan: </td>
                <td>
                    <input type="text" id="transport" name="transport">
                </td>
            </tr>
            <tr>
                <td>Tujuan: </td>
                <td>
                    <input type="text" id="aim" name="aim">
                </td>
            </tr>
            <tr>
                <td>Tempat: </td>
                <td>
                    <input type="text" id="place" name="place">
                </td>
            </tr>
        </table>
        <div class='outing-form'>
            <table>
                    <tr>
                        <th>Bil</th>
                        <th>No Matrik</th>
                    </tr>
                    {% for i in range(number) %}
                        <tr>
                            <td>{{i+1}}</td>
                            <td><input type="text" name="matrics-no-{{i}}" id="matrics-no"></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <input type="submit" name="submit" id="submit" value="Hantar" style="margin: 5px;">
                        </td>
                    </tr>
            </table>
        </div>
    </form>
</div>


{% endblock %}