{% extends 'student/base_student.html' %}


{% block content %}

<div>
    <table>
        <tr>
            <th>Application Date</th>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Status</th>
        </tr>
        {% for application in applications %}
            <tr>
                <td>{{ application.datetime.date() }}</td>
                <td>{{ application.out_date }}</td>
                <td>{{ application.in_date }}</td>
                <td class="{{application.status.lower()}}">{{ application.status }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}