{% extends 'student/base_outing.html' %}

{% block title %}
Application History
{% endblock %}

{% block outing_content %}

<div class="application-table">
    <table>
        <tr>
            <th>Apply Type</th>
            <th>Departure DateTime</th>
            <th>Return DateTime</th>
            <th>Transport</th>
            <th>Aim</th>
            <th>Place</th>
            <th>Status</th>
            <th>Option</th>
        </tr>
        {% for application in applications %}
            <tr>
                <td>{{ application.apply_type }}</td>
                <td>{{ application.out_datetime }}</td>
                <td>{{ application.in_datetime }}</td>
                <td>{{ application.transport }}</td>
                <td>{{ application.aim }}</td>
                <td>{{ application.place }}</td>
                <td class="{{application.status.lower()}}">{{ application.status }}</td>
                <td>
                    <ul>
                        <li><a href="/delete-apply/{{application.id}}">Delete</a></li>
                        <li><a href="/update-apply/{{application.id}}">Update</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}