{% extends 'student/outing_login.html' %}

{% block timetable %}
{% if timetable|length > 0 %}
    <div class="matrics-no-table">
        <table>
            <tr class="table-title">
                <th colspan="3">
                    Senarai kelas {{student.name}} <br>
                    pada hari {{day}}
                </th>
            </tr>
            <tr class="row-header">
                <th>Bil</th>
                <th>Subjek</th>
                <th>Masa</th>
            </tr>
            {% set time = [t] %}
            {% for i in range(timetable|length) %}
                {% if i % 2 == 0 %}
                    <tr class="row-even">
                        <td class="index">{{ i+1 }}</td>
                        <td class="table-content">
                            {% if timetable[i] %}
                                {{timetable[i]}}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="table-content">
                            {{ time[0].time().isoformat('minutes') }}
                            {% if time.append(time.pop()+duration) %}{% endif %}
                            -
                            {{ time[0].time().isoformat('minutes') }}
                        </td>
                    </tr>
                {% else %}
                    <tr class="row-odd">
                        <td class="index">{{ i+1 }}</td>
                        <td class="table-content">
                            {% if timetable[i] %}
                                {{timetable[i]}}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="table-content">
                            {{ time[0].time().isoformat('minutes') }}
                            {% if time.append(time.pop()+duration) %}{% endif %}
                            -
                            {{ time[0].time().isoformat('minutes') }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="matrics-no-table" style="background-color: yellow; padding: 5px">Hari ini cuti. </div>
{% endif %}
{% endblock %}

{% block application_form %}
<div class="outing-form student-details">
    <form action="/outing-apply" method="POST">
        <table>
            <tr>
                <td>Jenis Permohonan </td>
                <td>
                    <select name="apply-type" id="apply-type">
                        <option value="Outing Khas">Outing Khas</option>
                        <option value="Bermalam Biasa">Bermalam Biasa</option>
                        <option value="Bermalam Khas">Bermalam Khas</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Nama: </label></td>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <td><label>No. Kad Pengenalan: </label></td>
                <td>{{ student.ic_no }}</td>
                <td><label>No. Matrik: </label></td>
                <td>{{ student.matrics_no }}</td>
            </tr>
            <tr>
                <td><label>No. Bilik: </label></td>
                <td>{{ student.room_no }}</td>
                <td><label>Kursus: </label></td>
                <td>{{ student.course }}</td>
            </tr>
            <tr>
                <td><label>No. Telefon: </label></td>
                <td>{{ student.tel_no }}</td>
                <td><label>No Telefon Bimbit: </label></td>
                <td>{{ student.hp_no }}</td>
            </tr>
            <tr>
                <td>Tarikh Keluar: </td>
                <td>
                    <input type="date" id="out-date" name="out-date">
                </td>
                <td>Waktu Keluar: </td>
                <td>
                    <input type="time" id="out-time" name="out-time">
                </td>
            </tr>
            <tr>
                <td>Tarikh Balik: </td>
                <td>
                    <input type="date" id="in-date" name="in-date">
                </td>
                <td>Waktu Balik ke Kolej: </td>
                <td>
                    <input type="time" id="in-time" name="in-time">
                </td>
            </tr>
            <tr>
                <td>Kenderaan: </td>
                <td>
                    <input type="text" id="transport" name="transport">
                </td>
            </tr>
            <tr>
                <td>Tujuan: </td>
                <td colspan="3">
                    <input type="text" id="aim" name="aim" size="40">
                </td>
            </tr>
            <tr>
                <td>Tempat: </td>
                <td colspan="3">
                    <input type="text" id="place" name="place" size="60">
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center;">
                    <input type="submit" name="submit" id="submit" value="Hantar" style="margin: 5px;">
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}