{% extends 'student/base_outing.html' %}

{% block title %}
LAMAN PERMOHONAN
{% endblock %}

{% block outing_content %}

<div class="apply-form">
    <div class="choose-category">
        <form action="/outing-login" method="POST">
            <ul></ul>
            <label>Pilihan</label>
            <input type="radio" id="individu" name="type" value="individu" checked>
            <label>Individu</label>
            <input type="radio" id="kumpulan" name="type" value="kumpulan">
            <label>Kumpulan</label>
            <div class="matrics-no reveal-if-active">
                <label>Bilangan orang: </label><input type="text" id="people-no-field" name="people-no-field" value="0">
                <input type="submit" id="find-no" name="find-no-field" value="Permohonan>>>">
            </div>
            <div class="matrics-no reveal-if-active-2">
                <label>No Matrik</label><input type="text" id="matrics-no-field" name="matrics-no-field" value="">
                <input type="submit" id="find-no" name="find-no" value="Cari">
                <input type="reset" id="reset-field" name="reset-field" value="Reset">
            </div>
            {% block application_form %}{% endblock %}
        </form>
    </div>
</div>

{% endblock %}