html, body {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    font-family: sans-serif;
}

.title, .footer-bar {
    background-color: rgb(10, 10, 97);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
    height: 12px;
    width: 500px;
}

div.login-form {
    padding: 20px;
    height: auto;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

input.submit {
    font-size: 12px;
}

label {
    width: 200px;
    text-align: left;
    margin: 2px;
}

input {
    text-align: left;
    margin: 2px;
}

tr, td {
    width: auto;
    text-align: left;
}

tr.submit-button > td {
    text-align: center;
}