html, body {
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
    font-size: 12px;
}

/* for login page */
div.login-content {
    display: inline-block;
}
.title, .footer-bar {
    background-color: rgb(10, 10, 97);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
    height: 12px;
    width: 500px;
}

div.login-form, div.register-form {
    padding: 20px;
    height: auto;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

input.submit {
    font-size: 12px;
}

label {
    width: 200px;
    text-align: left;
    margin: 2px;
}

input {
    text-align: left;
    margin: 2px;
}

tr, td {
    width: auto;
    text-align: left;
}

tr.submit-button > td {
    text-align: center;
}

/* for homepage */
section {
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
}
section.sidebar, section.sidebar-student {
    background-color: rgb(8, 8, 100);
    display: block;
    float: left;
    width: 20vw;
    height: 100vh;
    text-align: left;
}

section.content {
    background-color: white;
    display: block;
    float: right;
    width: 80vw;
    height: 100vh;
}

section.content table {
    display: inline-block;
}

section.sidebar > div, section.sidebar-student > div {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 12px;
}

section.sidebar-student {
    text-align: center;
}

section.sidebar-student a, section.sidebar a {
    text-decoration: none;
    color: white;
}

p {
    padding: 0;
    margin: 0;
}

ul, li {
    margin: 0;
}

section.content > div > img {
    display: inline-block;
    text-align: center;
    top: 100px;
    position: relative;
}

div.menu > table, div.menu > table > tbody > tr, div.menu > table > tbody > tr > td {
    border-collapse: collapse;
    border: 1px solid white;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    width: 90%;
    margin: 5px;
}

a.button {
    display: inline-block;
    width: 95%;
    background-color: transparent;
    padding: 5px;
    margin: 0;
    border: 0;
}

a.button:hover {
    background-color: rgba(245, 245, 245, 0.733);
}

div.header {
    padding: 0;
    margin: 0;
}

div.header > h3 {
    font-family: serif;
    text-align: left;
    padding: 5px 0 5px 100px;
    width: 50%;
    margin: 0;
}

div.header > p {
    font-size: 12px;
    text-align: right;
    padding: 5px 0;
}

div.section-title > h3 {
    font-size: 12px;
    color: white;
    background-color: rgb(8, 8, 100);
}

div.form-container {
    margin: auto;
    padding: 5px 20px;
}

div.apply-form label, input {
    font-size: 12px;
}

div.matrics-no {
    padding: 10px;
}

div.student-details > table td {
    width: 200px;
}
 div.outing-form > form > table td {
    width: 200px;
 }

 div.outing-form, div.student-details {
    margin: 30px;
 }

 section.content div {
 }

 .ok {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: darkblue;
    border: rgb(2, 2, 56);
    color: white;
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
 }
 
 div.registered-student > table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px;
    text-align: center;
 }

 div.registered-student > table > tbody > tr > th, div.registered-student > table > tbody > tr > td {
    width: 100px;
    border: 1px solid black;
    border-collapse: collapse;
 }