{% extends 'admin/base_admin.html' %}

{% block content %}
<div>
    <h1>Register Student</h1>
</div>
<div class="register-form">
    <form action="/register" method="POST">
        <table>
            <tb>
                <tr>
                    <td><label>Name: </label></td>
                    <td><input type="text" class="name" id="name" name="name"></td>
                </tr>
                <tr>
                    <td><label>Matrics No: </label></td>
                    <td><input type="text" class="matrics_no" id="matrics_no" name="matrics_no"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" class="submit" id="submit" name="submit" value="submit"></td>
                </tr>
            </tb>
        </table>
    </form>
    <div class="registered-student">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Matriks No</th>
                <th>Admin Access</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.matrics_no }}</td>
                    <td>{{ student.is_admin }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}