{% extends 'base2.html' %}

{% block content %}
<div class="header">
    <p> | 
        <a href="#">Senarai</a>
        | 
        <a href="#">Tambah</a>
        |
        <a href="#">Padam</a> 
    </p>
    <h3>Outing</h3>
</div>
<div class="form-container">
    <div class="section-title">
        <h3>PERMOHONAN OUTING</h3>
    </div>
    <div class="student-details">
        <table>
            <th>
                <tr>
                    <td><label>NAMA: </label></td>
                    <td>{{ student.name.upper() }}</td>
                </tr>
                <tr>
                    <td><label>NOMBOR MATRIK: </label></td>
                    <td>{{ student.matrics_no.upper() }}</td>
                </tr>
            </th>
        </table>
    </div>
    <div class="outing-form">
        <form action="/apply-outing" method="POST">
            <table>
                <tr>
                    <td>Tarikh keluar: </td>
                    <td>
                        <input type="text" value="DD" id="out-day" name="out-day" size="2">/
                        <input type="text" value="MM" id="out-month" name="out-month" size="2">/
                        <input type="text" value="YYYY" id="out-year" name="out-year" size="4">
                    </td>
                </tr>
                <tr>
                    <td>Tarikh masuk: </td>
                    <td>
                        <input type="text" value="DD" id="in-day" name="in-day" size="2">/
                        <input type="text" value="MM" id="in-month" name="in-month" size="2">/
                        <input type="text" value="YYYY" id="in-year" name="in-year" size="4">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" name="submit" id="submit" value="Hantar" style="margin: 5px;">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}