{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<div class="login-content">
    <img src="{{url_for('static', filename='img/kmpp.jpg')}}" alt="kmpp logo">
    <div class="title">
        <span>Sila Login</span>
    </div>
    <div class="login-form">
        <form action="/" method="POST">
            <table>
                <tr>
                    <td><label>ID Pengguna: </label></td>
                    <td><input class="username" type="text" name="username" id="username"></td>
                </tr>
                <tr>
                    <td><label>Kata Laluan:   </label></td>
                    <td><input class="password" type="text" name="password" id="password"></td>
                </tr>
                <tr class="submit-button">
                    <td colspan="2"><input class="submit" type="submit" value="Login"></td>
                </tr>

            </table>
        </form>
    </div>
    <div class="footer-bar"><span></span></div>
</div>


{% endblock %}